* {
    padding: 0;
}

.header {
    background-color: rgba(85, 166, 241, 0.589);
}

.logo {
    padding: 0px 30px;
    font-size: 3vw;
}

.menu {
    width: 100%;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    padding: 40px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.menu li {
    list-style: none;
    padding: 0px 20px;
}

.menu li:hover{
    color: rgb(77, 76, 76);
    cursor: pointer;
}