.sidenav {
  background-color: rgb(69, 154, 235);
  width: 150px;
}

.nav-list span {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
font-size: 1vp;
}

.nav-list i {
    padding-right: 10px;
}
