<mat-card class="create-card">
    <mat-card-title> New product </mat-card-title>
    <form class="create-form">
        <mat-form-field class="inputs" color="primary">
            <input matInput placeholder="Name" [(ngModel)]="product.name" name="name" (blur)="true">
        </mat-form-field>
        <mat-form-field class="inputs">
            <input matInput placeholder="Buy price" [(ngModel)]="product.buy_price" name="buy_price">
        </mat-form-field>
        <mat-form-field class="inputs">
            <input matInput placeholder="Sell price" [(ngModel)]="product.sell_price" name="sell_price">
        </mat-form-field>
        <mat-form-field class="inputs">
            <input matInput placeholder="Brand" [(ngModel)]="product.brand" name="brand">
        </mat-form-field>
    </form>
</mat-card>

<button class="create-product" (click)="createProduct()">Create Product</button>